body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(207, 185, 185);
}

img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
}

img {
    object-fit: cover;
    width: 500px;
    height: 500px;
    border-radius: 10px;
    border-radius: 50%;
}


@media (max-width:550px) {
    img{
        width: 300px;
        height:300px;
    }
}


@media (max-width:300px) {
    img{
        width: 150px;
        height:150px;
    }
}